In [1]:
import pandas as pd
df = pd.read_excel("/Users/caiyunchen/Documents/GitHub/Data_Analysis_Portfolio/Raw/books.xlsx")



# Display the first few rows of the DataFrame
print(df.head(10))

                                        bookId  \
0                     2767052-the-hunger-games
1  2.Harry_Potter_and_the_Order_of_the_Phoenix
2                   2657.To_Kill_a_Mockingbird
3                     1885.Pride_and_Prejudice
4                               41865.Twilight
5                         19063.The_Book_Thief
6                           170448.Animal_Farm
7               11127.The_Chronicles_of_Narnia
8            30.J_R_R_Tolkien_4_Book_Boxed_Set
9                     18405.Gone_with_the_Wind

                                               title  \
0                                   The Hunger Games
1          Harry Potter and the Order of the Phoenix
2                              To Kill a Mockingbird
3                                Pride and Prejudice
4                                           Twilight
5                                     The Book Thief
6                                        Animal Farm
7                           The Chronicles of Narnia
8  J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...
9                                 Gone with the Wind

                                              series  \
0                                The Hunger Games #1
1                                    Harry Potter #5
2                              To Kill a Mockingbird
3                                                NaN
4                               The Twilight Saga #1
5                                                NaN
6                                                NaN
7  The Chronicles of Narnia (Publication Order) #...
8                         The Lord of the Rings #0-3
9                                                NaN

                                              author  rating  \
0                                    Suzanne Collins    4.33
1         J.K. Rowling, Mary GrandPr?? (Illustrator)    4.50
2                                         Harper Lee    4.28
3          Jane Austen, Anna Quindlen (Introduction)    4.26
4                                    Stephenie Meyer    3.60
5                    Markus Zusak (Goodreads Author)    4.37
6  George Orwell, Russell Baker (Preface), C.M. W...    3.95
7           C.S. Lewis, Pauline Baynes (Illustrator)    4.26
8                                     J.R.R. Tolkien    4.60
9                                  Margaret Mitchell    4.30

                                         description language           isbn  \
0  WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...  English  9780439023481
1  There is a door at the end of a silent corrido...  English  9780439358071
2  The unforgettable novel of a childhood in a sl...  English  9999999999999
3  Alternate cover edition of ISBN 9780679783268S...  English  9999999999999
4  About three things I was absolutely positive.\...  English  9780316015844
5  Librarian's note: An alternate cover edition c...  English  9780375831003
6  Librarian's note: There is an Alternate Cover ...  English  9780451526342
7  Journeys to the end of the world, fantastic cr...  English  9999999999999
8  This four-volume, boxed set contains J.R.R. To...  English  9780345538376
9  Scarlett O'Hara, the beautiful, spoiled daught...  English  9780446675536

                                              genres  \
0  ['Young Adult', 'Fiction', 'Dystopia', 'Fantas...
1  ['Fantasy', 'Young Adult', 'Fiction', 'Magic',...
2  ['Classics', 'Fiction', 'Historical Fiction', ...
3  ['Classics', 'Fiction', 'Romance', 'Historical...
4  ['Young Adult', 'Fantasy', 'Romance', 'Vampire...
5  ['Historical Fiction', 'Fiction', 'Young Adult...
6  ['Classics', 'Fiction', 'Dystopia', 'Fantasy',...
7  ['Fantasy', 'Classics', 'Fiction', 'Young Adul...
8  ['Fantasy', 'Fiction', 'Classics', 'Adventure'...
9  ['Classics', 'Historical Fiction', 'Fiction', ...

                                          characters  ...  \
0  ['Katniss Everdeen', 'Peeta Mellark', 'Cato (H...  ...
1  ['Sirius Black', 'Draco Malfoy', 'Ron Weasley'...  ...
2  ['Scout Finch', 'Atticus Finch', 'Jem Finch', ...  ...
3  ['Mr. Bennet', 'Mrs. Bennet', 'Jane Bennet', '...  ...
4  ['Edward Cullen', 'Jacob Black', 'Laurent', 'R...  ...
5  ['Liesel Meminger', 'Hans Hubermann', 'Rudy St...  ...
6  ['Snowball', 'Napoleon', 'Clover', 'Boxer', 'O...  ...
7  ['Polly', 'Aslan', 'Lucy Pevensie', 'Edmund Pe...  ...
8  ['Frodo Baggins', 'Gandalf', 'Bilbo Baggins', ...  ...
9  ["Scarlett O'Hara", 'Rhett Butler', 'Ashley Wi...  ...

      firstPublishDate                                             awards  \
0                  NaN  ['Locus Award Nominee for Best Young Adult Boo...
1             06/21/03  ['Bram Stoker Award for Works for Young Reader...
2  1960-11-07 00:00:00  ['Pulitzer Prize for Fiction (1961)', 'Audie A...
3             01/28/13                                                 []
4  2005-05-10 00:00:00  ['Georgia Peach Book Award (2007)', 'Buxtehude...
5  2005-01-09 00:00:00  ['National Jewish Book Award for Children?â‚¬?s ...
6             08/17/45  ['Prometheus Hall of Fame Award (2011)', 'Retr...
7             10/28/56                                                 []
8             10/20/55                                                 []
9             06/30/36  ['Pulitzer Prize for Novel (1937)', 'National ...

  numRatings                                     ratingsByStars likedPercent  \
0    6376780  ['3444695', '1921313', '745221', '171994', '93...         96.0
1    2507623  ['1593642', '637516', '222366', '39573', '14526']         98.0
2    4501075  ['2363896', '1333153', '573280', '149952', '80...         95.0
3    2998241  ['1617567', '816659', '373311', '113934', '767...         94.0
4    4964519  ['1751460', '1113682', '1008686', '542017', '5...         78.0
5    1834276  ['1048230', '524674', '186297', '48864', '26211']         96.0
6    2740713  ['986764', '958699', '545475', '165093', '84682']         91.0
7     517740     ['254964', '167572', '74362', '15423', '5419']         96.0
8     110146          ['78217', '22857', '6628', '1477', '967']         98.0
9    1074620   ['602138', '275517', '133535', '39008', '24422']         94.0

                                             setting  \
0  ['District 12, Panem', 'Capitol, Panem', 'Pane...
1  ['Hogwarts School of Witchcraft and Wizardry (...
2               ['Maycomb, Alabama (United States)']
3  ['United Kingdom', 'Derbyshire, England (Unite...
4  ['Forks, Washington (United States)', 'Phoenix...
5                  ['Molching (Germany)', 'Germany']
6                      ['England', 'United Kingdom']
7                                ['London, England']
8                                   ['Middle-earth']
9               ['Atlanta, Georgia (United States)']

                                            coverImg  bbeScore bbeVotes  price
0  https://i.gr-assets.com/images/S/compressed.ph...   2993816    30516   5.09
1  https://i.gr-assets.com/images/S/compressed.ph...   2632233    26923   7.38
2  https://i.gr-assets.com/images/S/compressed.ph...   2269402    23328    NaN
3  https://i.gr-assets.com/images/S/compressed.ph...   1983116    20452    NaN
4  https://i.gr-assets.com/images/S/compressed.ph...   1459448    14874    2.1
5  https://i.gr-assets.com/images/S/compressed.ph...   1372809    14168    3.8
6  https://i.gr-assets.com/images/S/compressed.ph...   1276599    13264   4.42
7  https://i.gr-assets.com/images/S/compressed.ph...   1238556    12949    NaN
8  https://i.gr-assets.com/images/S/compressed.ph...   1159802    12111  21.15
9  https://i.gr-assets.com/images/S/compressed.ph...   1087732    11211   5.58

[10 rows x 25 columns]

In [3]:
df.shape

(52478, 25)

In [5]:
null_count = df['firstPublishDate'].isnull().sum()
print(f"Number of null values in the column: {null_count}")

Number of null values in the column: 21326

In [ ]:
null_count = df['firstPublishDate'].isnull().sum()
print(f"Number of null values in the column: {null_count}")