In [2]:
import pandas as pd

In [7]:


df = pd.read_excel("C:\\Users\\tmc\\Desktop\\CAIYUN\\PORTFOLIO\\PORTFOLIO_BOOK\\Cleaning\\Excel\\Book_dateColumn.xlsx")
print(df.head())

   Book_ID          publishDate     firstPublishDate
0  2767052             09/14/08                  NaN
1        2             09/28/04             06/21/03
2     2657             05/23/06  1960-11-07 00:00:00
3     1885  2000-10-10 00:00:00             01/28/13
4    41865  2006-06-09 00:00:00  2005-05-10 00:00:00

In [10]:
# Convert the date columns to datetime format
df['publishDate'] = pd.to_datetime(df['publishDate'], errors='coerce')
df['firstPublishDate'] = pd.to_datetime(df['firstPublishDate'], errors='coerce')

# Display the updated DataFrame
print(df)

        Book_ID publishDate firstPublishDate
0       2767052  2008-09-14              NaT
1             2  2004-09-28       2003-06-21
2          2657  2006-05-23       1960-11-07
3          1885  2000-10-10       2013-01-28
4         41865  2006-06-09       2005-05-10
...         ...         ...              ...
52473  11492014  2011-05-28              NaT
52474  11836711  2011-08-05       2011-08-03
52475  10815662  2011-03-18       2011-03-15
52476  11330278  2011-09-01       2011-04-05
52477  10991547  2011-05-08              NaT

[52478 rows x 3 columns]

In [28]:
# pd.set_option('display.max_columns', 30)
# pd.set_option('display.max_rows', 30)
# df.firstPublishDate

df.head(100)

     Book_ID publishDate firstPublishDate
0    2767052  2008-09-14              NaT
1          2  2004-09-28       2003-06-21
2       2657  2006-05-23       1960-11-07
3       1885  2000-10-10       2013-01-28
4      41865  2006-06-09       2005-05-10
..       ...         ...              ...
95  33648131  2000-05-01       1996-01-10
96     99107  2001-01-10       2026-10-14
97     23919  1984-08-15       2049-10-28
98     43763  2004-08-31       1976-12-04
99      4473  1990-10-28       1989-03-28

[100 rows x 3 columns]

In [ ]:
# import pandas as pd

# # Load the DataFrame from the Excel file
# df = pd.read_excel(r"C:\Users\tmc\Desktop\CAIYUN\PORTFOLIO\PORTFOLIO_BOOK\Cleaning\Excel\Book_dateColumn.xlsx")

# # Display the initial DataFrame
# print("Original DataFrame:")
# print(df)

# # Parse the date columns
# df['publishDate'] = pd.to_datetime(df['publishDate'], errors='coerce')
# df['firstPublishDate'] = pd.to_datetime(df['firstPublishDate'], errors='coerce')

# # Display the DataFrame after parsing the date columns
# print("\nDataFrame after parsing date columns:")
# print(df)

# # Check for any NaT values in the date columns (indicating parsing issues)
# print("\nNaT values in date columns:")
# print(df[['publishDate', 'firstPublishDate']].isnull().sum())

In [ ]:
# import pandas as pd
# import numpy as np

# # Load your dataset (replace with the actual file path)
# # Assuming the file is a CSV
# df = pd.read_csv('date.csv')  # Replace with your actual file path
# df['firstPublishDate'] = df['firstPublishDate'].astype(str)

# # Custom function to handle two-digit and four-digit years
# def parse_mixed_dates(date):
#     try:
#         # Attempt to parse as MM/DD/YY and handle 2-digit years
#         if len(str(date).split('/')[-1]) == 2:
#             return pd.to_datetime(date, format='%m/%d/%y', errors='coerce')
#         else:
#             # For four-digit years, parse as MM/DD/YYYY
#             return pd.to_datetime(date, format='%m/%d/%Y', errors='coerce')
#     except:
#         return np.nan  # Handle invalid dates

# # Apply the function to the 'firstPublishDate' column
# df['firstPublishDate'] = df['firstPublishDate'].apply(parse_mixed_dates)

# # Format the date column back to UK date format (dd/mm/yyyy)
# df['firstPublishDate'] = df['firstPublishDate'].dt.strftime('%d/%m/%Y')



# # Print sample of updated DataFrame
# print(df.head(20))

In [33]:
# import pandas as pd

# # Load the DataFrame from the Excel file
# df = pd.read_excel(r"C:\Users\tmc\Desktop\CAIYUN\PORTFOLIO\PORTFOLIO_BOOK\Cleaning\Excel\Book_dateColumn.xlsx")

# # Parse the date columns
# df['firstPublishDate'] = pd.to_datetime(df['firstPublishDate'], errors='coerce')

# # Display original DataFrame
# print("Original DataFrame:")
# print(df)

# Function to change year while ensuring valid dates
def change_year(date):
    if date is not pd.NaT and date.year > 2024:
        try:
            # Change the first two digits of the year to '19'
            new_year = 1900 + (date.year % 100)  # Keep the last two digits, change to 19
            return date.replace(year=new_year)
        except ValueError:
            # If the date is invalid, return the original date
            return date
    return date  # Return the date unchanged

# Apply the function to the firstPublishDate column
df['firstPublishDate'] = df['firstPublishDate'].apply(change_year)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df)

Updated DataFrame:
        Book_ID publishDate firstPublishDate
0       2767052  2008-09-14              NaT
1             2  2004-09-28       2003-06-21
2          2657  2006-05-23       1960-11-07
3          1885  2000-10-10       2013-01-28
4         41865  2006-06-09       2005-05-10
...         ...         ...              ...
52473  11492014  2011-05-28              NaT
52474  11836711  2011-08-05       2011-08-03
52475  10815662  2011-03-18       2011-03-15
52476  11330278  2011-09-01       2011-04-05
52477  10991547  2011-05-08              NaT

[52478 rows x 3 columns]

In [32]:
df.to_csv('date.csv', index=False)